<mat-toolbar class="header">

  <a
    class="logo"
    routerLink="/cocktails">

    <mat-icon>liquor</mat-icon>
    <span>Cocktail Manager</span>

  </a>

  <span class="spacer"></span>

  <nav>

    <a
      mat-button
      routerLink="/cocktails"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <mat-icon>liquor</mat-icon>
      Коктейли

    </a>

    <a
      mat-flat-button
      routerLink="/cocktails/new"
      color="primary">

      <mat-icon>add</mat-icon>
      Добавить

    </a>

  </nav>

</mat-toolbar>