@if (cocktail(); as cocktail) {

@if (editing()) {

<app-cocktail-form
  mode="edit"
  [cocktail]="cocktail"
  (submitted)="save($event)"
/>

<button mat-button type="button" (click)="cancelEditing()">
  <mat-icon>close</mat-icon>
  Отмена
</button>

} @else {

<section class="details">

@if (imageUrl) {

<div class="hero-image">

<img
  [src]="imageUrl"
  alt="Изображение коктейля">

</div>

}

<mat-card class="content">

<div class="content-inner">

<div class="header">

<h1>
  <mat-icon>local_bar</mat-icon>
  {{ cocktail.name }}
</h1>

<div class="actions">

<button
  mat-icon-button
  aria-label="Редактировать"
  (click)="enableEditing()">

<mat-icon>
  edit
</mat-icon>

</button>

<button
  mat-icon-button
  aria-label="Удалить"
  (click)="delete()">

<mat-icon>
  delete
</mat-icon>

</button>

</div>

</div>


<p class="description">
  {{ cocktail.description }}
</p>


<mat-divider />


<h2>
  <mat-icon>format_list_numbered</mat-icon>
  Шаги приготовления
</h2>


<div class="steps">

@for (step of cocktail.steps; track $index) {

<div class="step">

<div class="number">
  {{ $index + 1 }}
</div>

<div class="step-content">

<p>
  {{ step.description }}
</p>


@if (stepImageUrls[$index]) {

<img
  [src]="stepImageUrls[$index]"
  alt="Изображение шага">

}

</div>

</div>

}

</div>

</div>

</mat-card>

</section>

}

}