<form class="cocktail-form" [formGroup]="form" (ngSubmit)="submit()">

<h2>{{ title }}</h2>

<mat-form-field appearance="outline">

<mat-label>Название коктейля</mat-label>

<input matInput formControlName="name">

@if (nameError) {

<mat-error>
  Введите название коктейля
</mat-error>

}

</mat-form-field>


<mat-form-field appearance="outline">

<mat-label>Описание</mat-label>

<textarea matInput rows="4" formControlName="description"></textarea>

@if (descriptionError) {

<mat-error>
  Введите описание коктейля
</mat-error>

}

</mat-form-field>


<section class="image-section">

<h3>
  <mat-icon>image</mat-icon>
  Изображение коктейля
</h3>


@if (imagePreview) {

<div class="image-preview">

<img
  [src]="imagePreview"
  alt="Предпросмотр коктейля">

</div>

}


<button
  mat-stroked-button
  type="button"
  (click)="imageInput.click()">

<mat-icon>upload</mat-icon>
Выбрать изображение

</button>


<input
  #imageInput
  hidden
  type="file"
  accept="image/*"
  (change)="onImageSelected($event)">

</section>


<section formArrayName="steps">

<h3>
  <mat-icon>format_list_numbered</mat-icon>
  Шаги рецепта
</h3>


<div class="steps">

@for (step of steps.controls; track $index; let i = $index) {

<mat-card class="step-card" [formGroupName]="i">

<div class="step-header">

<h4>
  Шаг {{ i + 1 }}
</h4>

<button
  mat-icon-button
  color="warn"
  type="button"
  (click)="removeStep(i)">

<mat-icon>
  delete
</mat-icon>

</button>

</div>


<mat-form-field appearance="outline">

<mat-label>
  Описание шага
</mat-label>

<textarea matInput formControlName="description"></textarea>

@if (stepError(i)) {

<mat-error>
  Заполните описание шага
</mat-error>

}

</mat-form-field>


@if (stepImagePreviews[i]) {

<div class="step-image-preview">

<img
  [src]="stepImagePreviews[i]"
  alt="Предпросмотр шага">

</div>

}

<button
  mat-stroked-button
  type="button"
  (click)="openStepFile(i)">

  <mat-icon>upload</mat-icon>
  Добавить изображение

</button>


<input
  #stepInput
  hidden
  type="file"
  accept="image/*"
  (change)="onStepImageSelected($event, i)">


</mat-card>

}

</div>


@if (stepsError) {

<mat-error>
  Добавьте хотя бы один шаг рецепта
</mat-error>

}

</section>


<div class="actions">

<button
  mat-stroked-button
  type="button"
  (click)="addStep()">

<mat-icon>
  add
</mat-icon>

Добавить шаг

</button>


<button
  mat-flat-button
  color="primary"
  type="submit">

<mat-icon>
  save
</mat-icon>

{{ submitText }}

</button>

</div>

</form>